{% extends "shared/_layout.html" %}
{% block title %}Reconvene{% endblock %}

{% block main_content %}
    
    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Login to add events</h1>

            <input name="email" type="text" placeholder="Your email" value="{{ email }}">
            <input name="password" type="password" placeholder=" Password">

            <button type="submit">Login</button>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>

{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href = "/static/css/account.css"
{% endblock %}