{% extends "shared/_layout.html" %}
{% block title %}Reconvene{% endblock %}

{% block main_content %}
    
    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Create an event</h1>

            <input name="eventname" type="text" placeholder="Event name" value="{{ eventname }}">
            <br><br>
            <input name="location" type="text" placeholder="Location" value="{{ location }}">
            <br><br>
            <input name="event_datetime" type="datetime-local" placeholder="Date and time of the event" value="{{ event_datetime }}">
            <br><br>
            <textarea name="description" type="text" placeholder="Event description" value="{{ description }}"></textarea>
            <br><br>
            <button type="submit">Create event</button>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>

{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href = "/static/css/account.css">
{% endblock %}